# Settings for this role
---
# Azure Authentication
# See: https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-create-service-principal-portal
azure_cli_application_id: AZURE_CLI_APPLICATION_ID
azure_cli_application_key: AZURE_CLI_APPLICATION_KEY
azure_cli_tenant_id: AZURE_CLI_TENANT_ID
azure_iot_hub_name: AZURE_IOT_HUB_NAME
azure_iot_group: AZURE_IOT_GROUP
